{% extends 'vouchers/base.html' %}
{% load static %}

{% block title %}Voucher {{ voucher.voucher_id }}{% endblock %}

{% block content %}
<div class="app-card">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Voucher Details</h2>
        <a href="{% url 'download_voucher_pdf' voucher.voucher_id %}" class="btn btn-secondary-custom">Print to PDF</a>
    </div>

    <!-- The content here will be the same as the PDF -->
    {% include 'vouchers/partials/voucher_content.html' %}
</div>

<div class="voucher-nav">
    <div>
        {% if prev_id %}
            <a href="{% url 'voucher_detail' prev_id %}" class="btn btn-primary-custom btn-round">←</a>
        {% endif %}
    </div>
    <div>
        {% if next_id %}
            <a href="{% url 'voucher_detail' next_id %}" class="btn btn-primary-custom btn-round">→</a>
        {% endif %}
    </div>
</div>
{% endblock %}